<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Statements</title>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Conditionals in Jinja2</h1>
  <h2>Basic comparisons</h2>

{% if company == "Apple" %}
  <h3>Available Apple products</h3>
  <ul>
    <li>iPhone</li>
    <li>iPad</li>
    <li>iMac</li>
  </ul>

{% elif company == "Microsoft" %}
  <h3>Available Microsoft products</h3>
  <ul>
      <li>Windows Phone</li>
      <li>Surface Pro</li>
      <li>Surface Book</li>
  </ul>

{% else %}
  <p>No {{ company }} products available.</p>
{% endif %}
</body>
</html>