<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale;1.0">
    <title>Planets in Our Solar System</title>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
  <ul>
      {% for planet in planets %}
        <li>{{ planet }}</li>
      {% endfor %}
  </ul>
</body>
</html>