<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jinja Intro</title>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Hello, {{ name2 }}!</h1>
    <p>This is an introduction to {{ template_name2 }} language.</p>
</body>
</html>