<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale;1.0">
    <title>For Loops and Conditionals</title>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Loops in Jinja2</h1>
  <h2>For loop & conditional statements</h2>

  {% for user, os in user_os.items() %}
    {% if os == "Kubuntu" %}
      <p>{{ user }} is a Kubuntu user.</p>
    {% elif os == "Kali" %}
      <p>{{ user }} is a Kali user.</p>
    {% elif os == "MX Linux" %}
      <p>{{ user }} is a MX Linux user.</p>
    {% endif %}
  {% endfor %}
</body>
</html>